<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ApiWebClient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ApiWebClient.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      
      

      <ul class="nav col-12 col-md-auto mb-2 mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        
        <li></li>
      </ul>
      @if (Context.Request.Cookies["accessToken"] == null){
            <div class="text-end">
                <a type="button" asp-controller="Auth" asp-action="Login" class="btn btn-outline-primary me-2">Login</a>
                <a type="button" asp-controller="Auth" asp-action="Register" class="btn btn-outline-secondary">Sign-up</a>
                </div>
            }
            else
            {
                <div class="text-end">
                    <a type="button" class="btn btn-outline-primary" href="/Api/Create" class="nav-link px-2">Add New Book</a>
                    <a type="button" asp-controller="Auth" asp-action="Logout" class="btn btn-outline-secondary">Logout</a>

                </div>
            }
        </header>
  </div>

    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ApiWebClient - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
