@model UserLoginDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="card mx-auto text-center" style="padding:20px; border-radius:20px;max-width:500px; align-content:center; margin:auto">
    <h6 class=" display-5  rounded text-center  p-3">Give your credentials</h6>
    <form method="POST" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" style="border-radius:20px" />
            <span asp-validation-for="Email" class="text-danger" ></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control" style="border-radius:20px" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        
        <br/>

        <input type="submit" value="Login" class="btn btn-outline-primary" style="border-radius:20px" />
        <a type="button" asp-controller="Auth" asp-action="LoginWithGoogle" class="btn btn-outline-secondary">Use Google</a>

    </form>
</div>